*{
    margin: 0;
    padding: 0;
    font-family: 'Changa', sans-serif;
    box-sizing: border-box;
}

.main{
    background: #353232;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
    /* justify-content: center; */
}

.menu-icon{
    margin-right: 10px;
    margin-left: 0px;
    height: 27px;
    cursor: pointer;
}

.logo{
    width: 150px;
}

nav ul{
    flex:1;
    text-align: right;
    font-size: 22px;
}

nav li{
    display: inline-block;

}

nav a {
    text-decoration: none;
    margin: 0px 20px;
}

#white-link{
  color: #fff;
}

#purp-link{
  color: #ffdafc;
}

#blu-link{
  color: #e1eeff;
}

#red-link{
  color: #ffb5b6;
}

nav button{
    width:45px;
    height: 25px;
    margin-left: 20px;
    background-color: #269258;
    color: #fff;
    border:0;
    border-radius:20px;
    cursor: pointer;
}

nav button span{
    height:19px;
    width:19px;
    display: block;
    background-color: #cfffe6;
    border-radius:50%;
    margin-left: 2px;
}
